.title {
  color: black;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.students-container {
  display: flex;
  gap: 50px;
}

.student {
  width: 350px;
  height: 450px;
  background-color: #a0a0a0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  cursor: pointer;
  justify-content: center;
}

.student:hover {
  background-color: #808080;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.student-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ring {
  width: 150px;
  height: 150px;
  border: 7px solid #222222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-info h3 {
  margin-top: 40pt;
  font-size: 25px;
}

.info {
  display: flex;
  justify-content: center;
}

.info p {
  margin-top: 10pt;
  font-size: 18px;
  text-align: center;
}
